.howitworks {
  background: url(../img/content/backgrounds/howitworks-bg.jpg) 50% 0 no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &__scheme {}
}

